.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #1c1c1c, #3a3a3a, #4e4e4e, #1c1c1c);
	background-size: 400% 400%;
	animation: backgroundAnimation 8s ease infinite;
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
	text-align: center;
	background: rgba(50, 50, 50, 0.9);
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.welcome {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #ffffff; /* Màu chữ cho tiêu đề */
}

.info {
	font-size: 1rem;

	margin-bottom: 20px;
	color: #ffffff; /* Màu chữ cho tiêu đề */
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.signOutButton {
	padding: 10px 20px;
	background-color: #ff6a88;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		transform 0.3s ease;
}

.signOutButton:hover {
	background-color: #ff4c6a;
	transform: scale(1.05);
}

.loading {
	color: #ffffff; /* Màu chữ cho loading */
	background: linear-gradient(135deg, #1c1c1c, #3a3a3a); /* Thêm gradient cho background */
	background-size: 400% 400%; /* Kích thước cho animation */
	animation: gradientAnimation 15s ease infinite; /* Thêm animation cho background */
	padding: 10px;
	border-radius: 5px;
}

.nav {
	display: flex;
	justify-content: center;
	color: #1c1c1c;
	align-items: center;
	margin-top: 20px;
}

.nav select {
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.nav input[type="color"] {
	margin-right: 10px;
	border: 2px solid #ccc; /* Thêm viền cho input màu */
	border-radius: 5px;
	width: 50px; /* Kích thước cố định cho input màu */
	height: 50px;
	cursor: pointer;
	transition: border-color 0.3s ease;
}

.nav input[type="color"]:hover {
	border-color: #4caf50; /* Thay đổi màu viền khi hover */
}

.nav button {
	padding: 8px 15px;
	background: linear-gradient(135deg, #4caf50, #45a049); /* Thêm hiệu ứng gradient */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background 0.3s ease,
		transform 0.2s ease;
}

.nav button:hover {
	background: linear-gradient(135deg, #45a049, #4caf50); /* Thay đổi gradient khi hover */
	transform: scale(1.05); /* Tăng kích thước khi hover */
}

/* Thêm animation cho gradient background */
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
