@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #1c1c1c, #3a3a3a, #4e4e4e, #1c1c1c);
	background-size: 400% 400%;
	animation: backgroundAnimation 8s ease infinite;
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
	text-align: center;
	background: rgba(50, 50, 50, 0.9);
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.welcome {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
}

.info {
	font-size: 1rem;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffff;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	border: 2px solid #fff; /* Thêm viền cho avatar */
}

.signOutButton {
	padding: 10px 20px;
	background-color: #ff6a88;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		transform 0.3s ease;
	font-family: "Quicksand", sans-serif;
	font-style: oblique;
}

.signOutButton:hover {
	background-color: #ff4c6a;
	transform: scale(1.05);
}

.nav {
	display: flex;
	justify-content: center;
	color: #ffffff;
	align-items: center;
	margin-top: 20px;
}


.loader,
.loader:after {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.loader {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
  color: #a2b8be
}
.loader:after {
  content: " ";
  display: block;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.nav select {
	color: #3a3a3a;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-family: "Quicksand", sans-serif;
}

.nav input[type="color"] {
	margin-right: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: border-color 0.3s ease;
}

.nav input[type="color"]:hover {
	border-color: #4caf50;
}

.nav button {
	padding: 8px 15px;
	background: linear-gradient(135deg, #4caf50, #45a049);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background 0.3s ease,
		transform 0.2s ease;
	font-family: "Quicksand", sans-serif;
}

.nav button:hover {
	background: linear-gradient(135deg, #45a049, #4caf50);
	transform: scale(1.05);
}

.updateStatus {
	font-size: 1rem;
	margin-top: 10px;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
